/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.0.1
* Docs at http://davidtheclark.github.io/scut
*/
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Global Classes / Wordpress Specific */
.aligncenter {
  text-align: center;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft {
  padding-right: 5px;
}

img.alignright {
  padding-left: 5px;
}

.clear {
  width: 100%;
  float: left;
  clear: both;
}

/* =============================================================================
                   Default Styling
   ========================================================================== */
body {
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.full {
  width: 100%;
}

/* links */
a {
  color: #BA209B;
  text-decoration: none;
}

a:hover {
  color: #D424B1;
}

/* paragraphs */
p {
  line-height: 1.5;
}

/*blockquotes*/
blockquote {
  background: #F7F7F7;
  margin: 0;
  padding: 20px;
}

blockquote p {
  margin-top: 0;
}

/*tables*/
table td {
  padding: 10px;
}

table tr td:first {
  padding-right: 0;
}

/*def lists*/
dt {
  font-weight: 600;
  padding-bottom: 5px;
}

dd {
  padding: 10px;
  margin-left: 10px;
}

/*lists*/
ul li, ol li {
  padding: 3px;
}

/*PRE*/
pre {
  background: #F7F7F7;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* =============================================================================
                   Sidebar
   ========================================================================== */
.sidebar {
  width: 30%;
  float: left;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
}

/* =============================================================================
                   Footer
   ========================================================================== */
footer {
  clear: both;
}

/* =============================================================================
                   Navigation
   ========================================================================== */
ul.menu {
  margin: 0;
  padding: 0;
}

ul.menu li {
  display: inline;
  margin-right: 10px;
}

ul.menu li a {
  color: #333;
  padding: 10px;
  background: #333;
  color: white;
}

/* =============================================================================
                   Comment Styling
   ========================================================================== */
#comments .navigation {
  padding: 0 0 18px;
}

h3#comments-title, h3#reply-title {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

h3#comments-title {
  padding: 24px 0;
}

.commentlist li.comment {
  border-bottom: 1px solid #e7e7e7;
  line-height: 24px;
  position: relative;
  clear: both;
  margin: 0 0 24px;
  padding: 0 0 0 56px;
}

.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#comments .comment-body ul, #comments .comment-body ol {
  margin-bottom: 18px;
}

#comments .comment-body p:last-child {
  margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
  margin-bottom: 24px;
}

.commentlist ol {
  list-style: decimal;
}

.commentlist .avatar {
  position: absolute;
  top: 4px;
  left: 0;
}

.comment-author cite {
  color: #000000;
  font-style: normal;
  font-weight: 700;
}

.comment-author .says {
  font-style: italic;
}

.comment-meta {
  font-size: 12px;
  margin: 0 0 5px;
}

.comment-meta a:link, .comment-meta a:visited {
  color: #888888;
  text-decoration: none;
}

.reply {
  font-size: 12px;
  padding: 0 0 24px;
}

.reply a, a.comment-edit-link {
  color: #888888;
}

.commentlist .children li {
  border: none;
  margin: 0;
}

#comments .pingback {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e7e7e7;
}

.commentlist li.comment + li.pingback {
  margin-top: -6px;
}

#comments .pingback p {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
  display: block;
  margin: 0;
}

#comments .pingback .url {
  font-style: italic;
  font-size: 13px;
}

input[type=submit] {
  color: #333333;
}

#respond {
  margin-top: 24px;
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
  position: relative;
}

#respond .comment-notes {
  margin-bottom: 1em;
}

.form-allowed-tags {
  line-height: 1em;
}

.children #respond {
  margin: 0 48px 0 0;
}

h3#reply-title {
  margin: 18px 0;
}

#comments-list #respond {
  margin: 0 0 18px;
}

#cancel-comment-reply-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

#respond .required {
  color: #ff4b33;
  font-weight: 700;
}

#respond label {
  color: #888888;
  font-size: 12px;
}

#respond input {
  width: 98%;
  margin: 0 0 9px;
}

#respond textarea {
  width: 98%;
}

#respond dt, #respond dd {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
}

#respond dd code {
  font-size: 11px;
}

#respond .form-submit {
  margin: 0 0 24px;
}

#respond .form-submit input {
  width: auto;
  font-size: 14px;
}

#respond dl {
  margin: 0 0 10px;
}

#respond dt {
  display: inline;
  font-weight: 400;
}

#respond dd {
  display: inline;
}

p.form-allowed-tags, .nocomments {
  display: none;
}

.commentlist, .commentlist .children {
  list-style: none;
  margin: 0;
}

.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover {
  color: #ff4b33;
}

#respond p, #comments-list ul #respond {
  margin: 0;
}

body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  font-family: 'Didact Gothic', sans-serif;
}

.header {
  background: #332F3E;
  padding: 19px;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 30%;
}

.logo svg {
  width: 6%;
  fill: #5ac48b;
  position: absolute;
  top: -22px;
}

.hero {
  background-image: url("https://static.pexels.com/wp-content/uploads/2014/09/clouds-cloudy-fog-2956-830x550.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 10% 0;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
}
.hero h1 {
  text-align: center;
  margin-top: -102px;
}

.heroTitle {
  font-size: 60px;
  text-transform: uppercase;
}

.heroTitle2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: gray;
  margin-top: -6px;
  letter-spacing: 10px;
}

.button {
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
  width: 250px;
}
.button:hover {
  border: 1px solid #5ac48b;
}
.button a {
  color: black;
  text-align: center;
  font-size: 25px;
}
.button h4 {
  margin: 0;
}

.button:hover a {
  color: #5ac48b;
}

.mainBlog {
  background-image: url("https://static.pexels.com/wp-content/uploads/2014/09/clouds-cloudy-fog-2956-830x550.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15px;
  padding-bottom: 10px;
}

article {
  margin-left: 26px;
  margin-bottom: 150px;
}

.contentBlog {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  background: white;
}

.icon {
  width: 30%;
  fill: #5ac48b;
  margin: 0 auto;
}
.icon svg {
  margin-top: -22px;
}

.container {
  max-width: none;
  position: relative;
}
.container h1 {
  float: left;
  margin-right: 750px;
  margin-top: -21px;
  letter-spacing: -5.5px;
  font-weight: 800;
  font-size: 70px;
}

.menu {
  color: #5ac48b;
}
.menu ul li {
  width: 20%;
  display: inline;
  margin: 1%;
  color: #332F3E;
}
.menu ul li a {
  color: #e6c973;
}

ul.menu {
  padding: 10px;
  width: 36%;
  display: inline-block;
  margin-left: 63%;
}
ul.menu li {
  margin-right: -1px;
}
ul.menu li a {
  background: none;
  color: #ddd;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}
ul.menu li a:hover {
  color: #5ac48b;
  border-color: #5ac48b;
}

h1 {
  margin: 0;
}
h1 a {
  color: #5ac48b;
}
h1 a:hover {
  color: black;
  font-family: 'Fira Sans', sans-serif;
}

h2 {
  font-size: 35px;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
}

.myWork {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 0;
}
.myWork h2:after {
  content: '';
  margin: 0 auto;
  display: block;
  width: 88px;
  height: 3px;
  background: white;
  border-radius: 2px;
  margin-top: 15px;
}

.square {
  width: 33.333%;
  height: 300px;
  display: inline-block;
  margin: 0;
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: top;
  opacity: 0.8;
}
.square h2 {
  letter-spacing: 5px;
  font-size: 26px;
  color: white;
  font-weight: 900;
  margin-top: 121px;
}
.square:hover {
  opacity: 1;
  transition: 0.5s;
}

.boxthingy {
  width: 33.33%;
  height: 300px;
  display: inline-block;
  background: #4d4d4d;
  color: white;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 3px;
}
.boxthingy h2 {
  font-size: 30px;
  margin-top: 40px;
}

h2.boxthing:after {
  content: none;
}

.border1 {
  width: 90%;
  height: 262px;
  border: 1px solid white;
  position: absolute;
  top: 17px;
  left: 23px;
  opacity: 0;
}
.border1:hover {
  opacity: 1;
  transition: 0.5s;
}

.personal {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.bio {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: 57px;
  margin: 34px;
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  transform: skewX(-10deg);
  padding: 83px;
  border-left: 2px solid #5ac48b;
  text-align: left;
}
.bio p {
  line-height: 30px;
  transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  -moz-transform: skewX(10deg);
}

.profileBlock {
  width: 19%;
  height: 271px;
  border-radius: 50%;
  background-image: url("head_shot.jpg");
  background-size: cover;
  background-position: center center;
  display: inline-block;
  margin-left: 183px;
  margin-top: 24px;
  margin-right: 20px;
}

.skills {
  width: 100%;
  text-align: center;
  background: #5ac48b;
  padding: 20px;
}
.skills h3 {
  font-size: 22px;
  font-weight: 900;
  color: #ddd;
  text-transform: uppercase;
}
.skills p {
  text-align: center;
}

.skill {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 26px;
  line-height: 20px;
}

.skillIcon {
  font-size: 60px;
}

.social {
  background: url("pattern_green.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #ddd;
}
.social h2 {
  color: #ddd;
}
.social ul {
  padding-left: 0px;
  list-style: none;
  width: 300px;
}
.social a {
  color: #5ac48b;
  padding: 2px 0;
  padding-left: 30px;
  display: block;
  font-weight: 100;
  text-decoration: none;
  transition: all .3s ease;
  font-size: 25px;
  margin-top: 17px;
}
.social a i {
  opacity: 0;
  transition: all .3s ease, color .7s ease-in;
  margin-left: -15px;
}
.social .socialBlock {
  background: rgba(225, 225, 225, 0.1);
  width: 30%;
  height: 200px;
  display: inline-block;
  margin: 10px;
}
.social .socialBlock h3 {
  margin-top: 51px;
  z-index: 10;
}
.social .socialBlock:hover a {
  padding-left: 15px;
}
.social .socialBlock:hover a i {
  margin-left: 10px;
  opacity: 1;
  color: #e6c973;
}

.postHeader {
  width: 100%;
  margin: 0 auto;
  height: 300px;
}

.postContainer {
  background-size: cover;
  height: 400px;
  background-position: center center;
}

.blogIntro {
  background: #2a3938;
  padding: 15px;
}
.blogIntro h2 {
  text-transform: uppercase;
  color: #ddd;
  text-align: center;
}

.featuredBlog {
  font-size: 0;
}

.blogs {
  height: 300px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  width: 33.333%;
  position: relative;
}
.blogs h3 {
  margin-top: 90px;
  z-index: 1000;
  opacity: 1;
  font-size: 26px;
}
.blogs p {
  color: #C2C2C2;
}

.blog1,
.blog2,
.blog3 {
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.blog1 h2,
.blog2 h2,
.blog3 h2 {
  opacity: 1;
}
.blog1:hover,
.blog2:hover,
.blog3:hover {
  opacity: 1;
  transition: 0.5s;
}

.border {
  height: 258px;
  width: 90%;
  top: 23px;
  left: 19px;
  border: 1px solid #ddd;
  position: absolute;
  opacity: 0;
}
.border:hover {
  opacity: 1;
  transition: 0.5s;
}

.black {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ddd;
}

.footer {
  background: black;
  color: #ddd;
  padding: 10px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.entry-title a {
  color: #333333;
}

h1.entry-title {
  width: 100%;
  text-transform: uppercase;
}

h2.entry-title {
  border-bottom: 3px solid black;
  margin-left: -11px;
  width: 99%;
  text-transform: uppercase;
}

.byLine {
  text-transform: uppercase;
  border-top: 3px solid black;
  margin: 0 auto;
  margin-left: -11px;
  width: 99%;
  font-weight: 900;
}
.byLine h3 {
  width: 86%;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 15px;
}

.entry-content a {
  color: #5ac48b;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 5px;
  margin-top: 20px;
}
.entry-content a:hover {
  color: #379a65;
}

.continue a {
  margin: 0 auto;
  display: block;
  width: 17%;
  margin-left: 790px;
  margin-bottom: 38px;
  margin-top: 30px;
}

.nameDate p {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  width: 16%;
}

.dateName {
  background: #e6c973;
  padding: 3px;
  width: 18%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
}

p.dateName2 {
  width: 76%;
  text-align: right;
  margin-top: 0;
}

footer.postedIn {
  color: black;
  text-transform: uppercase;
  display: inline;
}
footer.postedIn p {
  display: inline;
}
footer.postedIn p a {
  color: #5ac48b;
}
footer.postedIn p a:hover {
  color: #379a65;
}

p.comments {
  margin-left: 69%;
}

.bottomPost {
  margin-top: 10px;
  margin-bottom: 14px;
  max-width: 1000px;
  width: 95%;
}

.gallery {
  border: 1px solid blue;
}

.gallery-item {
  border: 1px solid red;
  margin: 20px;
}

.containerPost {
  max-width: 1200px;
  width: 65%;
}
.containerPost a {
  color: #5ac48b;
}

.singlePostTitle h1 {
  letter-spacing: 4px;
  font-size: 40px;
  margin-top: 20px;
  border-bottom: 2px solid black;
  width: 100%;
  margin-left: 10px;
}

.entry-meta {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}
.entry-meta span > a {
  margin-top: 20px;
}

.byAuthor span {
  margin-top: 10px;
}

.meta-sep {
  margin-left: 464px;
}

.navigation {
  display: inline-block;
}

p.nav-previous {
  width: 35%;
  border: 1px solid black;
  margin: 1px;
  padding: 5px;
  display: inline;
}
p.nav-previous a {
  margin: 0 auto;
}
p.nav-previous a:hover {
  color: #379a65;
}

p.nav-next {
  display: inline;
  width: 35%;
  margin: 0;
  border: 1px solid black;
  padding: 5px;
  margin-left: 379px;
}
p.nav-next a:hover {
  color: #379a65;
}

p.logged-in-as {
  display: none;
}

#respond .form-submit input {
  padding: 4px;
  font-size: 16px;
  text-transform: uppercase;
  background: white;
  color: #5ac48b;
}
#respond .form-submit input:hover {
  color: #379a65;
}

h3#reply-title {
  margin: 18px 0;
  text-transform: uppercase;
}

#responsive-menu .responsive-menu,
#responsive-menu div,
#responsive-menu .responsive-menu li {
  text-transform: uppercase;
}

@media (max-width: 1255px) {
  .continue a {
    margin-left: 0;
  }
}
@media (max-width: 1240px) {
  ul.menu {
    width: 40%;
  }
}
@media (max-width: 1140px) {
  .skill {
    width: 29%;
  }
}
@media (max-width: 1118px) {
  ul.menu li {
    display: none;
  }

  .header {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .logo svg {
    top: -22px;
  }

  .hero h1 {
    margin-top: -30px;
  }
}
@media (max-width: 1000px) {
  .blog1, .blog2, .blog3 {
    font-size: 16px;
  }

  .fBlog {
    width: 50%;
    margin: 0 auto;
  }

  .border {
    left: 11px;
  }
}
@media (max-width: 1035px) {
  .bio {
    width: 90%;
    padding: 0;
    padding-left: 48px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    border: none;
  }
  .bio p {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
  }

  .profileBlock {
    width: 26%;
    height: 220px;
    margin: 0;
    margin-top: 6px;
  }

  .skill {
    width: 40%;
  }
}
@media (max-width: 990px) {
  .border1 {
    left: 13px;
  }

  .social a {
    font-size: 22px;
  }
}
@media (max-width: 935px) {
  .social a {
    font-size: 19px;
  }
}
@media (max-width: 930px) {
  .logo svg {
    width: 7%;
  }
}
@media (max-width: 901px) {
  .blogs h3 {
    font-size: 17px;
  }
}
@media (max-width: 880px) {
  .social > .socialBlock {
    width: 90%;
  }

  .social a {
    font-size: 25px;
  }

  .blogs h3 {
    margin-top: 47px;
  }
}
@media (max-width: 840px) {
  .nameDate p {
    width: 22%;
  }

  .dateName {
    margin-right: 40%;
  }
}
@media (max-width: 815px) {
  .hero h1 {
    margin-top: 30px;
  }

  .button {
    margin-top: 28px;
  }

  .square {
    width: 50%;
  }

  .boxthingy {
    width: 50%;
  }

  .profileBlock {
    width: 30%;
  }

  .logo svg {
    width: 9%;
  }
}
@media (max-width: 700px) {
  .profileBlock {
    width: 34%;
  }
}
@media (max-width: 676px) {
  .nameDate p {
    width: 24%;
  }
}
@media (max-width: 660px) and (min-width: 320px) {
  .logo svg {
    width: 11%;
  }

  .skill {
    width: 41%;
  }

  .blog3 {
    font-size: 22px;
    width: 100%;
  }

  .fBlog {
    width: 75%;
  }

  .border {
    left: 41px;
  }
}
@media (max-width: 640px) {
  .skill {
    width: 70%;
  }
}
@media (max-width: 600px) and (min-width: 500px) {
  .profileBlock {
    width: 41%;
  }

  .continue a {
    width: 33%;
  }
}
@media (max-width: 575px) and (min-width: 320px) {
  .blog3 {
    font-size: 18px;
    width: 100%;
  }

  .border {
    left: 14px;
  }
}
@media (max-width: 545px) and (min-width: 320px) {
  .boxthingy {
    width: 100%;
    height: 200px;
  }

  .square {
    width: 100%;
  }

  .border1 {
    left: 23px;
  }

  .logo svg {
    width: 14%;
  }
}
@media (max-width: 500px) {
  .button {
    margin-top: 47px;
  }

  .hero h1 {
    margin-top: 6px;
  }

  .profileBlock {
    width: 47%;
  }

  .continue a {
    width: 40%;
  }
}
@media (max-width: 490px) {
  .social {
    padding: 10%;
  }

  .socialBlock a {
    padding-left: 15px;
  }
  .socialBlock a i {
    margin-left: 10px;
    opacity: 1;
    color: #e6c973;
  }
}
@media (max-width: 434px) {
  .boxthingy {
    height: 250px;
  }

  .logo svg {
    width: 18%;
  }

  .hero h1 {
    margin-top: 95px;
    line-height: 1;
  }
}
@media (max-width: 480px) {
  .profileBlock {
    width: 70%;
  }

  .square h2 {
    font-size: 22px;
  }

  .border1 {
    left: 17px;
  }

  .blogs h3 {
    margin-top: 88px;
  }

  .icon svg {
    margin-top: 23px;
  }

  .html {
    height: 100%;
  }

  .hero {
    height: 100%;
    background-image: none;
    background: #DEE0C5;
  }
  .hero h1 {
    margin-top: 0;
    margin-top: 45px;
  }

  .social > .socialBlock {
    width: 100%;
    margin-left: -2px;
  }
}
@media (max-width: 400px) and (min-width: 320px) {
  .heroTitle {
    line-height: 1;
  }

  .hero h1 {
    margin-top: 115px;
  }

  .profileBlock {
    width: 53%;
  }

  .bio {
    padding-left: 0;
    margin: 0;
  }

  .button {
    width: 197px;
  }
  .button a {
    font-size: 20px;
  }

  .square h2 {
    font-size: 25px;
  }

  .skills p {
    margin-left: 0;
  }

  .skill {
    width: 80%;
  }

  .continue a {
    width: 53%;
  }

  #click-menu {
    margin-top: 6px;
  }

  .logo svg {
    top: -23px;
    width: 18%;
  }
}
@media (max-width: 343px) {
  .continue a {
    width: 60%;
  }
}
@media (max-width: 720px) {
  .contentBlog {
    width: 100%;
  }

  .mainBlog {
    padding-top: 0;
    padding-bottom: 0;
  }
}
